@import "tailwindcss";

:root {
  --background: #0e0e10;
  --foreground: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-festive: var(--font-festive);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: env(safe-area-inset-top); /* for notch support */
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.6), #000); */
}

.status-bar-spacer {
  height: env(safe-area-inset-top);
  background: rgba(0, 0, 0, 0.3); /* translucent effect */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}


@keyframes scroll-text {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

/* Tailwind variant for applying the animation */
  .animate-scrollText {
    animation: scrollText 10s linear infinite;
  }

.scroll-pause:hover {
  animation-play-state: paused;
}


@keyframes neon-line {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes neon-bar {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.animate-neon-line {
  animation: neon-line 4s linear infinite;
}

.animate-neon-bar {
  animation: neon-bar 2s ease-in-out infinite;
}


select option {
  background-color: #1a1a1c !important; /* Change to your desired color */
  /* Adjust text color for readability */
}

@keyframes loadingLoop {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-50%);
  }
}


.buffering-seek-bar {
  position: absolute;
  top: 0;
  height: 100%;/* 
  width: 20%; */
  animation: loadingLoop 0.9s linear infinite alternate;
  will-change: transform;
  pointer-events: none;
}

/* Sleleton */

