@import "tailwindcss";

:root {
  --background: #0e0e10;
  --foreground: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-festive: var(--font-festive);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




@keyframes scroll-text {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.scroll-pause:hover {
  animation-play-state: paused;
}


@keyframes neon-line {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes neon-bar {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.animate-neon-line {
  animation: neon-line 4s linear infinite;
}

.animate-neon-bar {
  animation: neon-bar 2s ease-in-out infinite;
}
